<h3>Cart</h3>

<p>
    <a routerLink="/shipping">Shipping Prices</a>
</p>

<div class="cart-item" *ngFor="let item of items">
    <span>{{item.name}}</span>
    <span>{{item.price | currency}}</span>
</div>

<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
    <div class="form-group">
        <label for="name">Name</label>
        <input class="form-control" id="name" type="text" formControlName="name" required minlength="5">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger alert">
            <div *ngIf="name.errors.required">
                Name is Required.
            </div>
            <div *ngIf="name.errors.minlength">
                Name must be at least 5 characters long.
            </div>
            <div *ngIf="name.errors.forbiddenName">
                Name cannot be Bob.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="address">Address</label>
        <input class="form-control" id="address" type="text" formControlName="address">
    </div>
    <button class="button" [disabled]="checkoutForm.invalid" type="submit">Purchase</button>
</form>
