<h2>Products</h2>

<div *ngFor="let product of products; index as productId">
    <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">
        <h3>{{product.name}}</h3>
    </a>
    <p *ngIf="product.description">
        Description: {{product.description}}
    </p>
    <p>
        <button (click)="share()">Share</button>
    </p>
    <app-product-alerts [product]="product" (notify)="onNotify()"></app-product-alerts>
</div>

<ng-container i18n>I don't output any element</ng-container>
<p></p>
<button (click)="inc(1)">+</button> <button (click)="inc(-1)">-</button>
<span i18n>Updated {minutes, plural, =0 {just now} =1 {one minute ago} other {{{minutes}} minutes ago}}</span>
({{minutes}})
<br><br>
<button (click)="male()">&#9794;</button> <button (click)="female()">&#9792;</button> <button (click)="other()">&#9895;</button>
<span i18n>The author is {gender, select, male {male} female {female} other {other}}</span>
<br><br>
<span i18n>Updated: {minutes, plural,
        =0 {just now}
        =1 {one minute ago}
        other {{{minutes}} minutes ago by {gender, select, male {male} female {female} other {other}}}}
</span>
